<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorkshop. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- This is left here because the module may be released BEFORE MageWorkshop_Code -->
        <tab id="mage_workshop" translate="label" sortOrder="100">
            <label>MageWorkshop</label>
        </tab>
        <section id="mageworkshop_shoppingcartnotifications" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shopping Cart Notifications</label>
            <tab>mage_workshop</tab>
            <resource>MageWorkshop_ShoppingCartNotifications::config_shopping_cart_notifications</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shopping Cart Notifications by MageWorkshop</label>
                <field id="enabled" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="loader_enabled" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Cart Loader Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="notifications_enabled" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Cart Notifications Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="default_notifications_disabled" translate="label" type="select" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable default Magento notifications</label>
                    <comment>Default Magento notifications will be disabled to prevent duplicates</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="auto_hide_delay" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Display Time (milliseconds)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="notifications_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
